<!-- posts-show.handlebars -->

<a href="/">Back to Home</a>

<a href="{{post.url}}">
    <h1>Post Title: {{post.title}}</h1>
</a>

<p>{{post.body}}</p>

<a href="/n/{{post.subreddit}}">
    <h2>Subreddit: {{post.subreddit}}</h2>
</a>

<form action="/posts/{{post._id}}/comments" method="POST">
    <textarea class="form-control" name="content" rows="3" placeholder="Comment"></textarea>
    <button type="submit">Save</button>
</form>

{{#each post.comments}}
   <p>{{this.content}}</p>
   <p>User: {{this.author.username}}</p>
{{/each}}
